*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.ciel{
    background: rgb(231,251,255);
    background: linear-gradient(180deg, rgba(231,251,255,1) 0%, rgba(97,207,228,1) 42%, rgba(38,61,142,1) 79%);
    width: 70%;
    height: 2300px;
    margin: 0 auto;
    top: 0;
    position: relative;
    overflow: hidden;
}

.containerSoleil{
    height: 850px;
    Ipmo
    width: 100%;
    border: transparent solid 2px;
}


.soleil{
    z-index: 10;
    margin-right: 10%;
    float: right;
    top: 30px;
    justify-content: right;
    position: sticky;
    background-color: rgb(255, 221, 136);
    width:170px;
    height: 170px;
    border-radius: 50%;
    flex-wrap: wrap;
}



/* NUAGE ------------------------------------------------ */

.nuage{
    z-index: 9;
    margin-top: 180px;
    margin-left: 55%;
    flex-wrap: wrap;
    width: 300px;
    height: 100px;
    background-color: blanchedalmond;
    border-radius: 45px;
    position: relative;
}

.rond1{
    position: absolute;
    top: -68px;
    left: -35px;
    width: 170px;
    height: 170px;
    background-color: blanchedalmond;
    border-radius: 50%;
}

.rond2{
    position: absolute;
    top: -35px;
    left: 120px;
    width: 70px;
    height: 70px;
    background-color: blanchedalmond;
    border-radius: 50%;
}

.rond3{
    position: absolute;
    top: -45px;
    left: 170px;
    width: 90px;
    height: 90px;
    background-color: blanchedalmond;
    border-radius: 50%;
}

.nuageposition{
    margin-left: 160px;
}

.nuageposition2{
    margin-left: 60px;
    margin-top: 600px;
}

.nuageposition3{
    margin-left: -1480px;
    margin-top: -380px;
    transform: scale(0.8);
}
.nuageposition4{
    margin-left: 60px;
    margin-top: -850px;
}



.nuageposition4 .nuage{
    bottom: 20px;
}

.nuageposition4 .nuage2{
    bottom: 360px;
    left: -300px;
}

.nuageposition4 .nuage3{
    bottom: 190px;
    left: 0px;
}


.nuageposition5{
    margin-left: -1200px;
    margin-top: -550px;
    z-index: 0;
}

.nuageposition5 .nuage{
    bottom: 20px;
    transform: scale(0.7);
}

.nuageposition5 .nuage2{
    bottom: 370px;
    left: -320px;
}

.nuageposition5 .nuage3{
    bottom: 190px;
    left: 0px;
}





/* ------- */

.nuage2{
    margin-top: 100px;
    margin-left: 65%;
    flex-wrap: wrap;
    width: 140px;
    height: 70px;
    background-color: blanchedalmond;
    border-radius: 45px;
    position: relative;
}

.rond21{
    position: absolute;
    top: -28px;
    left: 37px;
    width: 70px;
    height: 70px;
    background-color: blanchedalmond;
    border-radius: 50%;
}

/* ------- */

.nuage3{
    z-index: 13;
    margin-top: 75px;
    margin-left: 83%;
    flex-wrap: wrap;
    width: 100px;
    height: 35px;
    background-color: blanchedalmond;
    border-radius: 45px;
    position: relative;
}

.rond31{
    position: absolute;
    top: -18px;
    left: 97px;
    width: 20px;
    height: 20px;
    background-color: blanchedalmond;
    border-radius: 50%;
}

.rond32{
    position: absolute;
    top: -28px;
    left: 37px;
    width: 50px;
    height: 50px;
    background-color: blanchedalmond;
    border-radius: 50%;
}

/* -------------- TETE -------------- */

.tete{
    height: 500px;
    width: 500px;
    border: rgb(195, 212, 162) 12px solid;
    position: relative;
    background-color: rgb(255, 204, 146);
    overflow: hidden;
}

.oeil{
    z-index: 2;
    left: 60px;
    top: 150px;
    height:70px;
    width: 70px;
    border-radius: 50%;
    background-color:white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rondOeil{
    height: 55px;
    width: 55px;
    background-color: rgb(166, 214, 214);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rondrond{
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
    position: relative;
}

.rondrondrond{
    position: absolute;
    top: -4px;
    left: 13px;
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
}

.rondrondrond2{
    position: absolute;
    top: 12px;
    left: 24px;
    height: 7px;
    width: 7px;
    background-color: white;
    border-radius: 50%;
}

.oeil2{
    z-index: 2;
    left: 350px;
    top: 150px;
    height:70px;
    width: 70px;
    border-radius: 50%;
    background-color:white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sourcil{
    left: 40px;
    top: 110px;
    transform: rotateZ(30deg);
    width: 70px;
    height: 70px;
    background-color: saddlebrown;
    border-radius: 50%;
    position: relative;
}

.SourcilRond{
    position: absolute;
    left: 4px;
    width: 90px;
    height: 90px;
    background-color: rgb(255, 204, 146);
    border-radius: 50%;
}

.Sourcil2{
    left: 375px;
    top: 40px;
    transform: rotateZ(72deg);
    width: 70px;
    height: 70px;
    background-color: saddlebrown;
    border-radius: 50%;
    position: relative;
}


.containerSourcil{
    position: relative;
}
.bouche{
    left: 140px;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgb(102, 78, 64);
    border-radius: 50%;
    margin-top: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* position: relative; */
}

.dent{
    position: absolute;
    left: 25px;
    top: -90px;
    width: 25px;
    height: 86px;
    background-color: white;
    border-radius: 8px;
}

.langue{
    position: relative;
    margin-top: 160px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: rgb(201, 45, 84);
}

.forme{
    position: relative;
    z-index: 1;
}
.formebouche{
    position: absolute;
    left: 93px;
    top: 50px;
    width: 290px;
    height: 290px;
    border-radius: 47%;
    background-color: rgb(255, 204, 146);
}

.corps{
    width: 30px;
    height: 45px;
    background-color: rgb(195, 212, 162);
    margin: 0 auto;
    border-radius: 10px;
    position: relative;

}

.perso{
    position: absolute;
    left: 185px;
    bottom: -264px;
    height: 1280px;
    width: 500px;
}

.brasG{
    position: absolute;
    top: 30px;
    left: -135px;
    width: 300px;
    height: 500px;
    border-radius: 500px;
    border: 40px solid rgb(195, 212, 162);
}
.carre{
    width: 100%;
    height: 390px;
    overflow: hidden;
}
.corps2{
    width: 140px;
    height: 350px;
    background-color: rgb(195, 212, 162);
    margin: 0 auto;
    border-radius: 10px;

}

.pantalon{
    width: 140px;
    height: 375px;
    background-color: rgb(42, 99, 185);
    margin: 0 auto;
    border-radius: 10px;
}

.perso{
    transform: scale(0.6);
}

/*  ------------- MONTAGNES ----------- */


.blocMontagne{
    width: 100%;
    height: 1650px;
    overflow: hidden;
    position: relative;
}
.montagne{
    display : inline-block;
    height : 0;
    width : 0;
    border-right : 500px solid transparent;
    border-bottom : 741px solid rgb(196, 183, 183);
    border-left : 500px solid transparent;
    position: absolute;
    bottom: 445px;
    left: 245px;
    transform: scale(0.4);
}

.montagne2{
    display : inline-block;
    height : 0;
    width : 0;
    border-right : 585px solid transparent;
    border-bottom : 1148px solid rgb(163, 133, 133);
    border-left : 585px solid transparent;
    position: absolute;
    bottom: 237px;
    left: -15px;
    transform: scale(0.25);
}

.montagne21{
    display : inline-block;
    height : 0;
    width : 0;
    border-right : 585px solid transparent;
    border-bottom : 1148px solid rgb(163, 133, 133);
    border-left : 585px solid transparent;
    position: absolute;
    bottom: 237px;
    left: 450px;
    transform: scale(0.25);
}

.montagne3{
    display : inline-block;
    height : 0;
    width : 0;
    border-right : 471px solid transparent;
    border-bottom : 1450px solid rgb(173, 155, 155);
    border-left : 471px solid transparent;
    position: absolute;
    left: -168px;
    bottom: 228px;
    transform: scale(0.4);
}

.montagne31{
    display : inline-block;
    height : 0;
    width : 0;
    border-right : 471px solid transparent;
    border-bottom : 1450px solid rgb(173, 155, 155);
    border-left : 471px solid transparent;
    position: absolute;
    left: 468px;
    bottom: 116px;
    transform: scale(0.24);
}

.montagne4{
    display : inline-block;
    height : 0;
    width : 0;
    border-right : 585px solid transparent;
    border-bottom : 1148px solid rgb(211, 191, 191);
    border-left : 585px solid transparent;
    position: absolute;
    bottom: 319px;
    left: -500px;
    transform: scale(0.4);
}

.montagne41{
    display : inline-block;
    height : 0;
    width : 0;
    border-right : 585px solid transparent;
    border-bottom : 1148px solid rgb(211, 191, 191);
    border-left : 585px solid transparent;
    position: absolute;
    bottom: 323px;
    left: 604px;
    transform: scale(0.4);
}

.montagne5{
    display : inline-block;
    height : 0;
    width : 0;
    border-right : 471px solid transparent;
    border-bottom : 1450px solid rgb(197, 172, 172);
    border-left : 471px solid transparent;
    position: absolute;
    left: -26px;
    transform: scale(0.3);
    bottom: 161px;
}

.coline{
    position: absolute;
    width: 1600px;
    height: 1600px;
    background-color: rgb(79, 167, 113);
    top: 2100px;
    left: -700px;
    border-radius: 50%;
}

.coline2{
    position: absolute;
    width: 1400px;
    height: 1400px;
    background-color: rgb(120, 207, 153);
    top: 2000px;
    left: -210px;
    border-radius: 50%;
}

.coline3{
    position: absolute;
    width: 1000px;
    height: 1000px;
    background-color: rgb(15, 99, 47);
    top: 1900px;
    left: 310px;
    border-radius: 50%;
}

.coline4{
    position: absolute;
    width: 1000px;
    height: 1000px;
    background-color: rgb(71, 139, 97);
    top: 1880px;
    left: -240px;
    border-radius: 50%;
}

.coline5{
    position: absolute;
    width: 1600px;
    height: 1600px;
    background-color: rgb(104, 161, 104);
    top: 2080px;
    left: 100px;
    border-radius: 50%;
}


.coline6{
    position: absolute;
    width: 1400px;
    height: 1400px;
    background-color: rgb(120, 207, 153);
    top: 1760px;
    left: 110px;
    border-radius: 50%;
}